/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styling */
body {
    background: #82896E;
    font-family: 'Lato', sans-serif;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

/* Container */
.container {
    max-width: 900px;
    margin: 30px auto 30px;
    padding: 20px;
    background-color: #543522;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Nav Bar Section */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #8A6240;
}

li {
    float: left;
}

li a {
    display: block;
    color: #CABA9C;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Header and Era Sections */
h1, h2, h3 {
    color: #DDCBB7;
}

h1 {
    font-size: 2em;
    margin-bottom: 15px;
}

h2 {
    font-size: 1.5em;
    margin: 20px 0 10px;
    color: #DDCBB7;
    border-bottom: 2px solid #DDCBB7;
    padding-bottom: 5px;
}

h3 {
    font-size: 1.3em;
    color: #DDCBB7;
    margin-top: 15px;
}

/* Explanation Section */
.explanation {
    margin-bottom: 20px;
    font-size: 1.1em;
    color: #DDCBB7;
    text-align: center;
}

/* Genre Section */
.genre-section {
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 15px;
    border-left: 4px solid #DDCBB7;
    background-color: #6A422F;
    border-radius: 5px;
}

.genre-section p {
    color: #DDCBB7; 
    font-size: 1em; 
}


/* Screenshot Container */
.screenshot-container {
    padding: 10px;
    border: 2px solid #CABA9C; 
    border-radius: 8px;
    background-color: #414833;
    gap: 10px;
    margin-bottom: 20px;
    display: flex; 
    justify-content: space-between;

}

.screenshot {
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #414833;
}

.screenshot-container img {
    border: 2px solid #DDCBB7; 
    border-radius: 5px;
}


.screenshot div {
    flex: 1 1 48%;
}

.screenshot img {
    width: 100%; 
    height: auto;
    border: 2px solid #DDCBB7;
    border-radius: 5px;
    object-fit: contain;
}

/* Song Credits Section */
.credits {
    background-color: #6A422F;
    padding: 20px;
    margin-top: 30px;
    border-left: 4px solid #DDCBB7;
}

.credits p {
    color: #DDCBB7;
    font-size: 1.1em;
    margin-bottom: 20px;
}

.credits ul {
    list-style-type: none;
    padding-left: 0;
}

.credits ul li {
    color: #DDCBB7;
    font-size: 1em;
    margin-bottom: 5px;
}


/* Footer */
.footer {
    background-color: #582F0E;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
    border-radius: 8px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 0;
}

.footer p {
    font-size: 14px;
    flex: 1;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    .screenshot-container img {
        max-width: 100%;
    }
    .footer-content {
        flex-direction: column;
        text-align: center;
    }
}

body, html {
    margin: 0;
    padding: 0;
}

